.list {
  width: 80%;
  height: 50vh;
  margin: 1rem auto 0;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message
{
  display: flex;
  gap: 1rem;
  height: 80px;
}

.message img
{
  height: 34px;
}
